/* Reset and General Styling */

body {
    background-image: url('/img/background.jpg');
    background-size: cover; /* Cover the entire viewport */
    background-repeat: no-repeat; /* Do not repeat the image */
	margin: 0;
    padding: 0;
	font-family: 'Manrope';
}

.container {
    width: 80%;
    margin: 0 auto;
}

a {
    color: #333;
    text-decoration: none;
}

header, footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/* Header Styling */
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

header a:hover{
	font-weight: bold;
  text-decoration: underline;

}
header h1 {
    margin: 0;
    font-size: 36px;
    text-align: center;
}

header .container_cv {
    display: flex;
    align-items: center;
    justify-content: center;
	position: relative;
    padding: 10px;
}

.back-button {
    position: absolute;
    left: 10px;
}

.back-button button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #fff;
}

.back-button button:hover {
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    font-size: 18px;
}

#contact p a:hover {
    font-weight: bold;
}


/* Section Styling */
.section {
    padding: 40px 0;
}

.section h2 {
    font-size: 30px;
    color: #333;
    text-align: center;
}

.project {
    margin-bottom: 20px; /* Add a margin-bottom value */
}

.project h3 {
    color: #333;
    font-size: 24px;
}

/* Styles for the project slider */
.project-slider {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slider {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    min-width: calc(100% - 80px); /* Adjust min-width to account for padding */
    padding: 40px; /* Increase padding to make the slide larger */
    border-radius: 5%;
    background-color: #f2f2f2;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	overflow: hidden;
}

/* Buttons for slider navigation */
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 10px;
    background-color: #3333;
    color: black;
    border: none;
    border-radius: 50%;
    outline: none;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}


.dots-container {
    text-align: center;
    margin-top: 20px;
}

.dot {
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
}

.dot.active {
    background-color: blue;
    color: blue; /* Add this line to ensure the dot is visible */
}



iframe {
    display: block;
    margin: 20px auto;
    width: 80%;
    height: 100vh;
    border: none;
}
.fa {
	padding: 20px;
	width: 20px; /* Adjust width to desired size */
    height: 20px; /* Adjust height to desired size */
	font-size: 30px;
	text-align: center;
	text-decoration: none;
	display: inline-flex; /* Ensure the container takes only as much space as the content */
	align-items: center; /* Center the icon vertically */
	justify-content: center; /* Center the icon horizontally */
	background-color: transparent; /* Set default background color to transparent */
	border-radius: 20%; /* Make the background circular */
	margin-top: 10px;
    margin-bottom: 20px; /* Adjust the value as needed to create the desired space */

}
/* Define the default color for the icons */
.fa-github {
    color: #333; /* Default color for GitHub icon */
}

.fa-linkedin {
    color: #333; /* Default color for LinkedIn icon */
}


.fa:hover {
    color: white;
}

.fa-github:hover,
.fa-linkedin:hover {
    background-color: #5d2a89; /* Change background color to purple for GitHub */
}

.fa-linkedin:hover {
    background-color: #0a66c2; /* Change background color to blue for LinkedIn */
}
